form {
    width: 30rem;
    height: 30rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    background-color: #a0a08b;
    color: #211e20;
    border: 5px solid white;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
}

input {
    width: 100%;
    font-size: 2rem;
    outline: none;
    border: 1px solid white;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 1rem;
}

input:focus {
    border-color: #555568;
    box-shadow: 1px 2px 3px;
}

form button:last-child {
    background-color: #211e20;
    color: #e9efec;
}

form button:last-child:hover {
    background-color: #555568;
}